*$py.class
**/*.DS_Store
**/*__pycache__
*.cover
*.egg
*.egg-info/
*.hi
*.hie
*.log
*.manifest
*.mo
*.o
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.so
*.spec
*.swp
*__pycache__*
./*/__pycache__
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.gdb_history
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.py2cfg
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode
.webassets-cache
/*.egg-info
/dist/
/site
/target/*.out
/target/debug
/target/.rustc_info.json
/target/*.svg
/target/*main*
ENV/
MANIFEST
__pycache__
__pycache__/
__pypackages__/
admin_files/hashes.txt
build/*.o
build/*.out
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist-*
dist/
dmypy.json
docs/_build/
docs/build
downloads/
eggs/
env.bak/
env/
examples/*.pdf
examples/*.png
examples/*.svg
examples/_*.py
grade
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
scores
sdist/
share/python-wheels/
src/*.hi
src/*.hie
src/*.o
target/*.out
target/*main*
tests/*/*.out
tests/*/out.*
tests/*/pass
tests/stdio_tests/diffs/?.*
tests/stdio_tests/outputs/?.*
tests/unit_tests/.mypy_cache/
var/
venv.bak/
venv/
wheels/